openapi: 3.0.0
info:
  title: orders
  version: '1.0'
  description: ''
servers:
  - url: 'https://kwf.kotisdesign.com/api/v1/orders'
paths:
  /create:
    post:
      summary: Create Order
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  order_num:
                    type: string
              examples:
                example-success-response:
                  value:
                    status: success
                    order_num: '5134691'
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
              examples:
                invalid-skus-example:
                  value:
                    errors:
                      - title: Invalid Order
                        detail: 'Sku 1 does not exist, Sku 2 does not exist'
      operationId: post-orders-create
      description: Creates an order
      parameters:
        - schema:
            default: application/json
            type: string
          in: header
          name: Content-Type
          description: ''
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                instructions:
                  type: string
                shipping_method:
                  type: string
                  default: Economy
                order_id:
                  type: string
                gift_notes:
                  type: string
                  maxLength: 300
                include_handwritten_note:
                  type: boolean
                skus:
                  type: array
                  items:
                    type: object
                    properties:
                      quantity:
                        type: string
                      sku:
                        type: string
                    required:
                      - quantity
                      - sku
                address:
                  type: object
                  properties:
                    name:
                      type: string
                    attention:
                      type: string
                    address1:
                      type: string
                    address2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                      description: "Required when country is 'United States' or 'Canada'"
                    zip:
                      type: string
                      description: "Required when country is 'United States'"
                    country:
                      type: string
                      default: United States
                    phone:
                      type: string
                    address_type:
                      type: string
                  required:
                    - name
                    - address1
                    - city
                    - state
                    - zip
              required:
                - email
                - shipping_method
                - skus
            examples:
              valid-order-data-example:
                value:
                  email: test@example.com
                  instructions: ''
                  shipping_method: USPS
                  order_id: ''
                  skus:
                    - quantity: '3'
                      sku: 555555-1-S
                    - quantity: '1'
                      sku: 555555-4-OSFA
                  address:
                    name: Kotis Design
                    attention: ''
                    address1: 2101 N 34th St
                    address2: '#200'
                    city: Seattle
                    state: WA
                    zip: '98103'
                    country: ''
                    phone: ''
                    address_type: ''
        description: ''
    parameters: []
  /status:
    get:
      summary: Order Status
      tags: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            status:
                              type: string
                        relationships:
                          type: object
                          properties:
                            shipments:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      id:
                                        type: string
                  included:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            delivery_status:
                              type: string
                            tracking_numbers:
                              type: string
                            shipment_date:
                              type: string
              examples:
                example-1:
                  value:
                    data:
                      id: '7'
                      type: orders
                      attributes:
                        status: delivered
                      relationships:
                        shipments:
                          data:
                            - type: shipments
                              id: '28'
                    included:
                      - id: '28'
                        type: shipments
                        attributes:
                          delivery_status: delivered
                          tracking_numbers: '1Z8364V2523818, 1Z8364V2022355'
                          shipment_date: '2018-10-25T15:50:55-07:00'
                    jsonapi:
                      version: '1.0'
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
              examples:
                example-1:
                  value:
                    errors:
                      - title: Invalid Api Key
                        detail: ''
      operationId: get-api-v1-external-orders-status
      description: ''
      parameters:
        - schema:
            type: string
            example: '1,2'
          in: query
          name: order_numbers
          description: comma-seperated string of requested order numbers
          required: true
    parameters: []
components:
  schemas: {}
  securitySchemes:
    API Key:
      name: Authorization
      type: apiKey
      in: header
      description: "Set the 'Authorization' header to your api key"
security:
  - API Key: []
